@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer components {
  .react-crop .ReactCrop__child-wrapper {
    @apply h-full w-full min-w-0 min-h-0;
  }

  .custom-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-hero scrollbar-track-main-300; /*scrollbar-track-rounded-md scrollbar-thumb-rounded-md;*/
  }

  .menu-item-realist-container {
    @apply sm:flex sm:flex-col relative rounded-2xl overflow-hidden shadow-md text-contrast-a11y-high bg-contrast-high border-contrast-high border-4 cursor-pointer z-0 outline outline-contrast-low outline-1 h-full;
  }

  .menu-item-realistic-content-container {
    @apply flex-1 sm:relative bottom-0 w-full p-0 px-2 sm:p-4 sm:flex sm:flex-col bg-contrast-high sm:-translate-y-6 rounded-tl-2xl rounded-tr-2xl sm:mr-0 sm:border-t border-main-a11y-low sm:mb-8;
  }

  .menu-item-realistic-money-display {
    @apply absolute top-0 right-2 sm:right-0 bg-contrast-high p-1 sm:p-2 rounded-bl-2xl z-10 text-end border-l border-b border-main-a11y-low;
  }

  .button-hero-1 {
    @apply uppercase mt-2 !px-6 !py-6 flex flex-row gap-2 items-center justify-center !bg-hero !text-hero-a11y-high;
  }
}

:root {
  --header-height: 5rem;
  --footer-height: 10rem;
}
